NODE_ENV=deployment
PORT=3000
USER=ATLAS_USERNAME
PASSWORD=ATLAS_PASSWORD
DATABASE=ATLAS_DB_CONNECTION
DATABASE_PASSWORD=ATLAS_DB_PASSWORD

JWT_SECRET=JWT_SECRET
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

SENDGRID_USERNAME=apikey
SENDGRID_PASSWORD=API_KEY

EMAIL_FROM=EMAIL_SENDER